{% extends "base_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="card-page">
  <div class="card-page-content">
    <div class="card-page-card">
      <!-- Title -->
      <div class="title">
		Give role to user
      </div>
		<!-- Form -->
		<form action="/roles/mapping" method="post">
			<div class="field">
				<label class="label">Username</label>
					<input class="input" name="username" type="text" placeholder="username" minlength="3" required value="{{ username }}"/>
			</div>


			<div class="select">
				<select name="role_id" required>
					<option selected></option>
					{% for role in roles %}
						<option value="{{ role.id }}">{{ role.name}} </option>
					{% endfor %}
				</select>
			</div>

			<button class="button is-primary" type="submit">Add</button>
		</form>
	</div>
  </div>
</div>
{% endblock content %}
