{% extends "base_logged_in.html" %}

<!-- Content -->
{% block content %}
	<!-- Title -->
	<div class="profile-title">
		Role {{ role.name }}
	</div>

	<!-- Subtitle -->
	<div class="profile-subtitle mb-4">
		{% if let Some(client) = client %}
			for client <a href="/clients/{{ client.id }}/edit">{{ client.name }}</a>
		{% else %}
			Global role
		{% endif %}
	</div>

	<!-- Error message -->
	{% if let Some(error) = error %}
		<div class="notification is-danger is-light">
			{{ error }}
		</div>
	{% endif %}

	<!-- Success message -->
	{% if let Some(success) = success %}
		<div class="notification is-success is-light">
			{{ success }}
		</div>
	{% endif %}

	<div class="cards">
		<!-- Description card -->
		<div class="card card-content mb-4">
			<!-- Title -->
			<div class="title">Description</div>

			<!-- Description -->
			<div class="content">
				<blockquote>{{ role.description }}</blockquote>
			</div>

			<!-- Edit button -->
			<div>
				<a class="button is-primary" href="#edit-description">Edit</a>
			</div>
		</div>

		<!-- Visibility card -->
		<div class="card card-content mb-4">
			<!-- Title -->
			<div class="title">
				Visibility
			</div>

			<!-- Subtitle -->
			<div class="subtitle">
				{% match role.visibility %}
					{% when crate::models::role::RoleVisibility::Global %}
						Global role, visible to all clients
					{% when crate::models::role::RoleVisibility::Limited %}
						Limited role, only visible the following clients:
				{% endmatch %}
			</div>

			<!-- Buttons -->
			<div>
				<!-- Edit button -->
				<a class="button is-warning" href="#change-visibility">
					Change visibility
				</a>
				{% if role.visibility == crate::models::role::RoleVisibility::Limited %}
				<!-- Add button -->
					<a class="button is-primary" href="#add-client-to-limited-to">
						Add client to “limited to” list
					</a>
				{% endif %}
			</div>

			<!-- Table -->
			{% if role.visibility == crate::models::role::RoleVisibility::Limited %}
				<table class="table table--responsive table--responsive--labels is-fullwidth">
					<thead>
						<tr>
							<th>Name</th>
							<th><!-- Remove button --></th>
						</tr>
					</thead>
					<tbody>
						{% for client in limited_to_clients %}
							<tr>
								<!-- Name -->
								<td data-label="Name">
									<a href="/clients/{{ client.id }}/edit">{{ client.name }}</a>
								</td>

								<!-- Remove button -->
								<td>
									<form action="/roles/{{ role.id }}/limited_to_clients/{{ client.id }}" method="POST">
										<input type="hidden" name="_method" value="delete"/>
										<button class="button is-danger is-small" type="submit">x</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<!-- Placeholder row -->
								<td colspan="4">The “limited to” list is empty</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>

		<!-- Users card -->
		<div class="card card-content mb-4">
			<!-- Title -->
			<div class="title">
				Users
			</div>

			<!-- Subtitle -->
			<div class="subtitle">
				Users that have this role assigned to them.
			</div>

			<!-- Add button -->
			<div>
				<a class="button is-primary" href="#add-user">Add user</a>
			</div>

			<!-- Table -->
			<table class="table table--responsive table--responsive--labels is-fullwidth">
				<thead>
					<tr>
						<th>Name</th>
						<th><!-- Remove button --></th>
					</tr>
				</thead>
				<tbody>
					<!-- Placeholder -->
					{% if users.len() == 0 %}
						<tr>
							<td colspan="4">No users mapped yet</td>
						</tr>
					{% else %}
						{% for user in users %}
							<tr>
								<!-- Name -->
								<td data-label="Name">
									<a href="/users/{{ user.username }}">{{ user.username }}</a>
								</td>

								<!-- Remove button -->
								<td>
									<form action="/roles/{{ role.id }}/users/{{ user.id }}" method="POST">
										<input type="hidden" name="_method" value="delete"/>
										<button class="button is-danger is-small" type="submit">x</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>

		<!-- Clients card -->
		<div class="card card-content mb-4">
			<!-- Title -->
			<div class="title">
				Clients
			</div>

			<!-- Subtitle -->
			<div class="subtitle">
				Clients that have this role assigned to them.
			</div>

			<!-- Add button -->
			<div>
				<a class="button is-primary" href="#add-client">Add Client</a>
			</div>

			<!-- Table -->
			<table class="table table--responsive table--responsive--labels is-fullwidth">
				<thead>
					<tr>
						<th>Name</th>
						<th><!-- Remove button --></th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>
							<!-- Name -->
							<td data-label="Name">
								<a href="/clients/{{ client.id }}/edit">{{ client.name }}</a>
							</td>

							<!-- Remove button -->
							<td>
								<form action="/roles/{{ role.id }}/clients/{{ client.id }}" method="POST">
									<input type="hidden" name="_method" value="delete"/>
									<button class="button is-danger is-small" type="submit">x</button>
								</form>
							</td>
						</tr>
					{% endfor %}

					<!-- Placeholder -->
					{% if clients.len() == 0 %}
						<tr>
							<td colspan="4">No clients mapped yet</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Edit description modal -->
	<div class="modal modal-target" id="edit-description">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form action="/roles/{{ role.id }}/description" method="post">
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">Edit description</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">Description</label>
						<input
							class="input"
							name="description"
							type="text"
							placeholder="description"
							value="{{ role.description }}"
							required
						/>
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Apply</button>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>

	<!-- Change visibility modal -->
	<div class="modal modal-target" id="change-visibility">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form action="/roles/{{ role.id }}/visibility" method="post">
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">Change visibility</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">Visibility</label>
						<div class="select">
							<select name="visibility" required>
								{% for el in crate::models::role::RoleVisibility::VALUES %}
									<option
										value="{{ el }}"
										{% if el == role.visibility -%}
											selected
										{%- endif %}
									>
										{{- el -}}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Apply</button>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>

	<!-- Add client to limited_to modal -->
	<div class="modal modal-target" id="add-client-to-limited-to">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form action="/roles/{{ role.id }}/limited_to_clients" method="post">
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">Add client to “limited to” list</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">Client</label>
						<div class="select">
							<select name="client_id">
								{% for client in all_clients %}
									{% if !limited_to_client_ids.contains(client.id) %}
										<option value="{{ client.id }}">{{ client.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Add</button>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>

	<!-- Add user modal -->
	<div class="modal modal-target" id="add-user">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form action="/roles/{{ role.id }}/users" method="post">
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">Add user</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">User</label>
						<div class="select">
							<select name="username">
								{% for user in all_users %}
									{% if !user_ids.contains(user.id) %}
										<option value="{{ user.id }}">{{ user.username }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Add</button>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>

	<!-- Add client modal -->
	<div class="modal modal-target" id="add-client">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form action="/roles/{{ role.id }}/clients" method="post">
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">Add client</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">Client</label>
						<div class="select">
							<select name="client_id">
								{% for client in all_clients %}
									{% if !client_ids.contains(client.id) %}
										<option value="{{ client.id }}">{{ client.name }}</option>
									{% endif%}
								{% endfor %}
							</select>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Add</button>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>
{% endblock content %}
