{% extends "layout.html" %}
{% block title %}Grant {{ client_name }} access?{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="center_card">
    <img src="https://zinc.zeus.gent/ff5f00">
  </div>
  <div class="center_card">
    <form action="grant" method="post">
      <input type="hidden" name="state" value="{{ state }}">
      <h1>Grant {{ client_name }} access?</h1>
      <div class="buttons">
        <button type="submit" name="grant" value="true">Yes</button>
        <button class="button-neg" type="submit" name="grant" value="false">No</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
