<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% if title %}
          {{ title }}
        {% else %}
          Zauth
        {% endif %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>
