* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-color: #121212;
}



img {
    padding: 15px;
    width: 16rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

.box {
    background-color: #121211;
    padding: 49px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 49%;
    transform: translate(-51%, -50%);
    /*width: 25%;*/
}

.box input {
    color: #fff;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}
