* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 30px;
}

body {
    background-color: #121212;
    
}

input {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255,255,255, 0.15);
    border: none;
    color: white;
    width: 100%;
    box-sizing: content-box;
}

input[type=submit] {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    background-color: #ff5f00;
    width: 100%;
    box-sizing: content-box;
    cursor: pointer;
}

img {
    padding: 15px;
    width: 8rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

.box {
    /* background-color: rgba(255,255,255, 1); */
    background-color: #121212;
    color: #fff;
    padding: 50px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

/* @media only screen and (max-width: 600px) {
    .box {
        width: 100%;
    }
} */