* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-color: #f6f6f6;
}

img {
    width: 8em;
}

button {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    background-color: #ff5f00;
    flex-grow: 1;
    cursor: pointer;
}

.button-neg {
    background-color: rgba(255, 255, 255, 0.10)
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.center_card {
    display: flex;
    justify-content: center;
    padding: 10vh;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}


/*   NAVIGATION BAR    */
.nav {
    margin-bottom: 1em;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 39px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

}

#center-inner {
    /* border: 1px solid black; */
}

#center-outer {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
}

.spoiler{
    display:none;
}
.sshkey{
    font-size: 14px;
    background-color: lightgrey;
}
.spoiler:target {
    display:table-row
}