<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

    <title>
			{% block title %}
			Zauth
			{% endblock title %}
    </title>

		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/application.css">

	<script
		src="https://cdn.jsdelivr.net/npm/js-base64@3.7.7/base64.min.js"
		integrity="sha384-FGmiWkduBDrslGfKndrivvQMSmpC7YM2m5vUqR8zlYaVy3YAN0m5O97XkuVzNROQ"
		crossorigin="anonymous">
	</script>
	<script src="/static/js/webauthn.js" async></script>

    {% block head %}
    {% endblock head %}
</head>
<body>

	<!-- Navbar -->
	{% block nav %}{% endblock nav %}

	<!-- Content -->
	<div class="container container--main">
			{% block content %}{% endblock content %}
	</div>

	<!-- Footer -->
	<footer class="footer">
		<div class="container content">
			<div class="columns is-multiline is-justify-content-space-between">
				<!-- Copyright -->
				<div class="column is-narrow">
					<a href="https://github.com/ZeusWPI/zauth/releases/tag/v{{ zauth_version }}">Zauth v{{ zauth_version }}</a> by <a href="https://zeus.gent" target="_blank">Zeus WPI</a>
				</div>

				<!-- Change theme -->
				<div class="column is-narrow">
					{# <a class="button is-primary is-light is-small" href="#">Change theme</a> #}
				</div>

				<!-- Links -->
				<div class="column is-narrow">
					<a class="footer-link" href="mailto:bestuur@zeus.ugent.be">Contact</a>
					<a class="footer-link" href="https://zeus.gent">Zeus WPI</a>
					<a class="footer-link" href="https://github.com/zeusWPI/zauth">GitHub</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
