<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Zeus Login</title>

    <link rel="stylesheet" type="text/css" href="index.css">

</head>

<body>
    <div class="wrapper">
        <div class="box">
            <form action="login" method="post">
                <input type="hidden" name="state" value="{{ state }}">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login" class="loginbutton">
            </form>
        </div>
        <a href="https://zeus.ugent.be/" target="_blank">
        <img src="https://zinc.zeus.gent/ff5f00">
        </a>
    </div>
</body>

</html>