// Bulma variable overrides
$primary: #ff6600;
$text: #172940;
$link: $primary;
$title-color: $text;
// $subtitle-color: $grey-light;

$family-sans-serif: "Inter",sans-serif;

$radius-small: 8px;
$radius: 8px;

$card-radius: 16px;
$card-background-color: #fff;

$modal-card-head-background-color: white;
$modal-card-head-border-bottom: 2px solid whitesmoke;
$modal-card-foot-border-top: 2px solid whitesmoke;

// Custom variables

// Include Bulma SCSS
@import '../../node_modules/bulma/bulma.sass';

/**
 * Base styles
 */

html {
  height: 100%;
  width: 100%;
  background-color: $white-bis;
  overflow-y: auto;
}

body {
  // Prevent blue highlights on elements on mobile
  * {
    -webkit-tap-highlight-color: transparent;
  }

  // Select text with a primary color background
  ::selection,
  ::-moz-selection {
    background: $primary;
    color: $white;
  }
}

/**
 * Application
 */

// Navbar
.navbar {

  &.is-raised {
    box-shadow: $card-shadow;
  }

  &.is-transparent {
    background-color: transparent;

    * {
      color: $primary !important;

      &:hover {
        color: darken($primary, 10%) !important;
      }
    }
  }

  &-item {
    font-weight: bold;
  }

  &-title {
    @extend .navbar-item;
    @extend .title;
    @extend .is-size-5;
    margin-bottom: 0 !important;
  }

  &-burger {
    @include until($desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

// Base form layout
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
}

// Login & register page
.login,
.register {
  margin: auto;

  &-logo {
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  &-card {
    @extend .card;
    @extend .card-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: $size-3;
      font-weight: 900;
      margin-bottom: 1.5rem;
    }

    &-form {
      @extend .form;
      margin-bottom: 1rem;
    }

    &-login,
    &-register {
      color: $grey-light;
    }
  }
}

// Profile page
.profile {
  &-title {
    font-size: $size-2;
    font-weight: 900;
  }

  &-subtitle {
    color: $grey-light;
    font-size: $size-5;
  }

  &-edit {
    &-form {
      @extend .form;
    }
  }
}

// Modal using :target (without JavaScript)
.modal-target {
  display: none;

  &:target {
    @extend .is-active;
    display: block;
  }
}

// Responsive table
.table--responsive {
  width: 100%;

  @include until($tablet) {
    &--labels {
      td {
        text-align: right !important;

        &::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
        }
      }
    }

    thead {
      display: none;
    }

    tr {
      display: block;

      &:first-child {
        border-top: 2px solid whitesmoke;
      }
    }

    td {
      display: block;
      padding: 0.4rem 0;
      width: 100%;
      border-bottom: none;

      .table--responsive--labels {
        text-align: right !important;
      }

      &:first-child {
        padding-top: 0.6em;
      }

      &:last-child {
        padding-bottom: 0.6em;
        border-bottom: 2px solid whitesmoke;
      }
    }
  }
}

/**
 * Overrides
 */

// Change the card's background color
.card {
  background-color: $card-background-color;
}

// Add padding to container on mobile
.container {
  width: 100%;

  &--main {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include until($desktop) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}
