{% extends "base_not_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="card-page">
  <div class="card-page-content">
    <div class="card-page-card">
      <!-- Title -->
      <div class="title">
        Forgot your password?
      </div>

			<!-- Form -->
			<form class="form mb-2" action="/users/forgot_password" method="post">
				<div class="field ">
          <label class="label">Your email address</label>
          <input class="input" name="for_email" type="email" placeholder="Email" required />
        </div>

				<button class="button is-primary" type="submit">Request password reset</button>
			</form>
		</div>
  </div>
</div>
{% endblock content %}
