{% extends "base_logged_in.html" %}
{% block content %}
<h1>Users ({{ users.len() }})</h1>
<table style="overflow-x: auto">
    <tr>
        <th>Username</th>
        <th>Admin?</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>SSH key</th>
        <th>State</th>
        <th>Last login</th>
        <th>Created at</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
        {% if user.admin %}
        <td><b>Yes</b></td>
        {% else %}
        <td>No</td>
        {% endif%}
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% match user.ssh_key %}
                {% when Some with (val) %}
                    {{ val }}
                {% when None %}
                    Not configured
            {% endmatch %}
        </td>
        <td>
            {% match user.state %}
                {% when UserState::Active %}
                    {% with color="green" %}
                        {% include "colored_circle.html" %}
                    {% endwith %}
                {% when UserState::PendingApproval %}
                    {% with color="orange" %}
                        {% include "colored_circle.html" %}
                    {% endwith %}
                {% when UserState::Disabled %}
                    {% with color="red" %}
                        {% include "colored_circle.html" %}
                    {% endwith %}
            {% endmatch %}                
        </td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.created_at }}</td>
    </tr>
    {% endfor %}
</table>

{% if current_user.admin %}
<form action="/users" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>

    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>

    <label for="full_name">Full Name</label>
    <input id="full_name" name="full_name" type="text"/>

    <label for="email">Email</label>
    <input id="email" name="email" type="email"/>

    <label for="ssh_key">ssh key</label>
    <input id="ssh_key" name="ssh_key" type="text"/>

    <button type="submit">Create</button>
</form>
{% endif %}

{% endblock content %}
