{% extends "base_logged_in.html" %}

{%- macro colored_circle(color, tooltip) -%}
<svg height="20" width="20">
    <title>{{tooltip}}</title>
    <circle cx="10" cy="10" r="8" stroke="{{color}}" stroke-width="3" fill="{{color}}" />
</svg>
{%- endmacro -%}

{% block content %}

<h1>Users ({{ users.len() }})</h1>
<table style="overflow-x: auto">
    <tr>
        <th>Username</th>
        <th>Admin?</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>SSH key</th>
        <th>State</th>
        <th>Last login</th>
        <th>Created at</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
        {% if user.admin %}
        <td><b>Yes</b></td>
        {% else %}
        <td>No</td>
        {% endif%}
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% match user.ssh_key %}
                {% when Some with (val) %}
                    <a href="#spoiler-open-{{user.id}}" class="trigger open">View</a>
                    <a href="#spoiler-close-{{user.id}}" class="trigger close">Close</a>
                {% when None %}
                    -
            {% endmatch %}
        </td>
        <td>
            {% match user.state %}
                {% when UserState::Active %}
                    {%- call colored_circle("#80A66C", user.state) -%}
                {% when UserState::PendingApproval %}
                    {%- call colored_circle("#F2A950", user.state) -%}
                {% when UserState::PendingMailConfirmation %}
                    {%- call colored_circle("yellow", user.state) -%}
                {% when UserState::Disabled %}
                    {%- call colored_circle("#DD6761", user.state) -%}
            {% endmatch %}                
        </td>
        <td title="{{user.last_login}}">{{ user.last_login.format("%d/%m/%y").to_string() }}</td>
        <td title="{{user.created_at}}">{{ user.created_at.format("%d/%m/%y").to_string() }}</td>
    </tr>
    {% match user.ssh_key %}
        {% when Some with (val) %}
            <tr class="spoiler" id="spoiler-open-{{user.id}}">
                <td>Key 1</td>
                <td colspan="7" class="sshkey">{{val}}</td>
            </tr>
        {% when None %}
    {% endmatch %}
    {% endfor %}
</table>

<h1>Users pending for verification ({{ users_pending_for_verification.len() }})</h1>
<table style="overflow-x: auto">
    <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Approve</th>
    </tr>
    {% for user in users_pending_for_verification %}
    <tr>
        <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td title="{{user.created_at}}">{{ user.created_at.format("%d/%m/%y").to_string() }}</td>
        <td>
            <form action="/users/{{ user.id }}/approve" method="post">
                <button type="submit">Approve</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% if current_user.admin %}
<form action="/users" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>

    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>

    <label for="full_name">Full Name</label>
    <input id="full_name" name="full_name" type="text"/>

    <label for="email">Email</label>
    <input id="email" name="email" type="email"/>

    <label for="ssh_key">ssh key</label>
    <input id="ssh_key" name="ssh_key" type="text"/>

    <button type="submit">Create</button>
</form>
{% endif %}

{% endblock content %}
