{% extends "base_logged_in.html" %}

<!-- Content -->
{% block content %}
	<div class="card card-content">

		<!-- Title -->
		<div class="title">
			Create new user
		</div>

		<!-- Subtitle -->
		<div class="subtitle">
			This bypasses mail verification. Normal registrations should be done via the <a href="/register">register page</a>.
		</div>

		<!-- Form -->
		<form class="form" action="/users" method="post">
			<div class="field">
				<label class="label">Username</label>
				<input class="input" name="username" type="text" placeholder="Username" required />
			</div>

			<div class="field">
				<label class="label">Full Name</label>
				<input class="input" name="full_name" type="text" placeholder="Full Name" required />
			</div>

			<div class="field">
				<label class="label">Email</label>
				<input class="input" name="email" type="email" placeholder="Email" required />
			</div>

			<div class="field">
				<label class="label">Password</label>
				<input class="input" name="password" type="password" placeholder="Password" required />
			</div>

			<div class="field">
				<label class="label">SSH Keys</label>
				<textarea class="textarea" placeholder="SSH Keys"></textarea>
			</div>

      <button class="button is-primary" type="submit">Create</button>
		</form>
	</div>
{% endblock content %}
