{% extends "base_not_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="register columns is-multiline is-mobile is-centered">
  <div class="column is-12-mobile is-10-tablet is-5-desktop">

		<!-- Logo -->
    <a class="register-logo" href="https://zeus.ugent.be/" target="_blank">
      <img src="https://zinc.zeus.gent/ff5f00" alt="Zeus Logo">
    </a>

    <!-- Error messages -->
    {% match errors %}
    {% when Some with (errors) %}
      <div class="notification is-danger is-light">
        {{ errors }}
      </div>
    {% when None %}
    {% endmatch %}

    <div class="register-card">
      <!-- Title -->
      <div class="register-card-title">
        Create a new account
      </div>

      <!-- Login form -->
      <form class="register-card-form" action="/register" method="post">
        <div class="field">
          <label class="label">Username</label>
          <input class="input" name="username" type="text" placeholder="Username" required />
        </div>

				<div class="field">
          <label class="label">Full Name</label>
          <input class="input" name="full_name" type="text" placeholder="Full Name" required />
        </div>

				<div class="field">
          <label class="label">Email</label>
          <input class="input" name="email" type="email" placeholder="Email" required />
        </div>

				<div class="field">
          <label class="label">Password</label>
          <input class="input" name="password" type="password" placeholder="Password" required />
        </div>

        <button class="button is-primary" type="submit">Register</button>
      </form>

    <!-- Login -->
     <div class="register-card-login">
        Already an account? <a href="/login">Login here!</a>
     </div>
    </div>
  </div>
</div>
{% endblock content %}
