{% extends "base_not_logged_in.html" %}

<!-- Content -->
{% block content %}
  <div class="columns is-mobile is-centered">
    <div class="column is-12-mobile is-10-tablet is-8-desktop">
      <div class="card card-content">
        <div class="title">
          Your account is pending.
        </div>

        <div class="subtitle">
          You will receive a mail to confirm your email address once your account has been activated by an administrator.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
