{% extends "base_not_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="card-page">
  <div class="card-page-content">
    <div class="card-page-card">
      <!-- Title -->
      <div class="title">
        Reset your password
      </div>

    {% match errors %}
    {% when Some with (errors) %}
      <div class="notification is-danger is-light">
          <p><b>Oops!</b> Something does not look right:
          <p>{{ errors }}
      </div>
    {% when None %}
    {% endmatch %}

      <!-- Form -->
      <form class="form mb-2" action="/users/reset_password" method="post">
        <input type="hidden" name="token" value="{{ token }}">

        <div class="field">
          <label class="label">New password:</label>
          <input class="input" name="new_password" type="password" minlength="8" maxlength="254" placeholder="New password" required />
					<p class="help">
						We recommend using a <a href="https://www.passwordstore.org/" target="_blank">password manager</a> to generate a strong password.
					</p>
        </div>

       	<button class="button is-primary" type="submit">Reset password</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
