{% extends "../layout.html" %}
{% block content %}
    <h1>Reset your password</h1>
    <form action="/users/reset_password" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="new_password">Your new password:</label><input id="new_password" name="new_password" type="password"/>
        <p>We recommend using a <a href="https://www.passwordstore.org/">password manager</a> to generate a strong password.</p>
        <button type="submit">Reset password</button>
    </form>
{% endblock content %}