{% extends "base_not_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="card-page">
  <div class="card-page-content">
    <div class="card-page-card">
      <div class="subtitle mb-1">
        Password reset token invalid.
      </div>

      <div class="text has-text-grey">
        Sorry, but the password reset link you used has expired or was invalid.
        You can request a new one <a href="/users/forgot_password">on the forgot password page</a>.
      </div>
    </div>
  </div>
</div>
{% endblock content %}

