{% extends "base_logged_in.html" %}

{% block content %}

<h1>{{ user.username }}</h1>
{% if user.admin %}
    <p> This user is an admin.
{% else %}
    <p> This is a normal user.
{% endif %}

<p>{{user.state}}</p>

<div class="container">

    <div class="row">
        <div class="column">
            <h3>
                Update profile info
            </h3>

            <form action="/users/{{user.id}}" method="POST">
                <input type="hidden" name="_method" value="put"/>

                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="{{ user.username }}" disabled/>

                <label for="password">password</label>
                <input id="password" name="password" type="password"/>

                <label for="full_name">Full Name</label>
                <input id="full_name" name="full_name" type="text" value="{{ user.full_name }}"/>

                <label for="email">Email</label>
                <input id="email" name="email" type="email" value="{{ user.email }}"/>

                <label for="ssh_key">ssh key</label>
                <input id="ssh_key" name="ssh_key" type="text"
                       value="{% match user.ssh_key %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}"/>

                <button type="submit">Update</button>
            </form>
        </div>
        <div class="column">
            <h3>
                Set new password
            </h3>
            <p>Coming soon!</p>
        </div>
    </div>
</div>


{% endblock content %}
