{% extends "base_logged_in.html" %}

<!-- Content -->
{% block content %}
<div class="profile-title">
	{% if current_user.id == user.id %}
		Welcome back,
	{% endif %}
	{{ user.username }}
</div>

<div class="profile-subtitle">
	{% if user.admin %}
		Zeus Admin
	{% else %}
		Zeus Member
	{% endif %}
</div>

<div class="columns is-multiline mt-4">

	<!-- Update profile -->
	<div class="column is-7">
		<div class="card card-content">

			<div class="title">Update profile information</div>

			<form class="profile-edit-form" action="/users/{{ user.username }}" method="POST">
				<input type="hidden" name="_method" value="put"/>

				<div class="field">
					<label class="label">Username</label>
					<input class="input" name="username" type="text" placeholder="Username" value="{{ user.username }}" disabled />
				</div>

				<div class="field">
					<label class="label">Full Name</label>
					<input class="input" name="full_name" type="text" placeholder="Full Name" value="{{ user.full_name }}" disabled />
				</div>

				<div class="field">
					<label class="label">Email</label>
					<input class="input" name="email" type="email" placeholder="Email" value="{{ user.email }}" required />
				</div>

				<div class="field">
					<label class="label">Password</label>
					<input class="input" name="password" type="password" placeholder="Password" disabled autocomplete="off" />
				</div>

				<div class="field">
					<label for="subscribed_to_mailing_list" class="label">Subscribe to Mailing List</label>
					{% if user.subscribed_to_mailing_list -%}
						<input name="subscribed_to_mailing_list" type="checkbox" id="subscribed_to_mailing_list" checked>
					{% else -%}
						<input name="subscribed_to_mailing_list" type="checkbox" id="subscribed_to_mailing_list">
					{% endif %}
				</div>

				<div class="field">
					<label class="label">SSH Keys</label>
					<textarea class="textarea" name="ssh_key" placeholder="SSH Keys">{% match user.ssh_key %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}</textarea>
				</div>

				<button class="button is-primary" type="submit">Update</button>
			</form>
		</div>
	</div>

	<div class="column is-5">
		<!-- Change password -->
		<div class="card card-content mb-4">
			<a class="button is-primary" href="/users/forgot_password">Change password</a>
		</div>

		{% if current_user.admin %}
		<!-- Change status -->
		<div class="card card-content">
			<form class="profile-edit-form" action="/users/{{ user.username }}/change_state" autocomplete="off" method="POST">
				<div class="field">
					<div class="select">
						<select name="state">
							<option value="active" {% if user.state == UserState::Active %}selected{% endif %}>Active</option>
							<option value="disabled" {% if user.state == UserState::Disabled %}selected{% endif %}>Disabled</option>
						</select>
					</div>
				</div>

				<button class="button is-primary" type="submit">Change state</button>
			</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
