{% extends "base_logged_in.html" %}
{% block content %}

<h1>Update {{ client.name }}</h1>

<p>Insert explanation about what everything means or what a client is?</p>

<form action="/clients/{{ client.id }}" method="post">
    <fieldset>
        <input type="hidden" name="_method" value="put"/>

        <label for="name">Name</label>
        <input type="text"
               placeholder="Application name"
               id="name"
               name="name"
               minlength="3"
               maxlength="80"
               value="{{ client.name }}"
               required>

        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Describe what the application does.">{{ client.description -}}</textarea>

        <label for="needs_grant">Needs grant?</label>
        <input type="hidden" id="needs_grant" name="needs_grant" value="false">
        <input type="checkbox" id="needs_grant" name="needs_grant"
                    {% if client.needs_grant %} checked {% endif %}
                    >

        <label for="redirect_uri_list">Redirect URI's</label>
        <textarea id="redirect_uri_list" name="redirect_uri_list" rows="4" cols="50" placeholder="http://localhost:3000/auth/callback
https://example.com/auth/callback">{{- client.redirect_uri_list -}}</textarea>

        <button type="submit">Save</button>
    </fieldset>
</form>

{% endblock content %}
