{% extends "base_logged_in.html" %}
{% block content %}

<div class="row">
    <div class="column">
        <h1>Clients ({{ clients.len() }})</h1>
    </div>
    <div class="column">
        <div class="center-end-children">
            <a class="button" href="/clients/new">New client</a>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Secret</th>
        <th>Needs grant</th>
        <th>Redirect uri list</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td><a href="/clients/{{client.id}}/edit">{{ client.name }}</a></td>
        <td>{{ client.secret }}</td>
        <td>{{ client.needs_grant }}</td>
        <td>{{ client.redirect_uri_list }}</td>
    </tr>
    {% endfor %}
    {% if clients.len() == 0 %}
    <tr class="centered">
        <td colspan="4">No clients configured</td>
    </tr>
    {% endif %}
</table>

{% endblock content %}
