{% extends "base_logged_in.html" %}
{% block content %}
<h1>Clients ({{ clients.len() }})</h1>
<table>
    <tr>
        <th>Name</th>
        <th>secret</th>
        <th>needs_grant</th>
        <th>redirect_uri_list</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.secret }}</td>
        <td>{{ client.needs_grant }}</td>
        <td>{{ client.redirect_uri_list }}</td>
    </tr>
    {% endfor %}
</table>

{% if current_user.admin %}
<form action="/clients" method="post">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" placeholder="application name" id="name" name="name">
        <label for="needs_grant">Needs_grant</label>
        <input type="checkbox" id="needs_grant" name="needs_grant">
        <label for="redirect_uri_list">Redirect Uri's</label>
<!--        <input type="textarea" id="redirect_uri_list" name="redirect_uri_list">-->
        <textarea id="redirect_uri_list" name="redirect_uri_list" rows="4" cols="50">
            test
        </textarea>
        <button type="submit">Create</button>
    </fieldset>
</form>
{% endif %}

{% endblock content %}
