{% extends "base_logged_in.html" %}

<!-- Content -->
{% block content %}
	<div class="card card-content">

		<!-- Title -->
		<div class="columns is-multiline is-justify-content-space-between">
			<div class="column is-narrow">
				<!-- Title -->
				<div class="title">
					Clients ({{ clients.len() }})
				</div>
				<!-- Subtitle -->
				<div class="subtitle">
					An OAuth client is an application which can use our server for authentication. <br>
					The client would send the user to our webpage to login and we then tell the client who the user is. <br>
					Each application using this server should have its own client and maybe even a separate client for development purposes.
				</div>

			</div>

			<div class="column is-narrow">
				<a class="button is-primary" href="#new-client">New client</a>
			</div>
		</div>

		<!-- Table -->
		<table class="table table--responsive table--responsive--labels is-fullwidth">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Needs grant</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for client in clients %}
					<tr>

						<!-- Name -->
						<td data-label="Name">
							<a href="/clients/{{client.id}}/edit">{{ client.name }}</a>
						</td>

						<!-- Description -->
						<td data-label="Description">{{ client.description }}</td>

						<!-- Needs grant -->
						<td data-label="Needs grant">{{ client.needs_grant }}</td>

						<!-- Remove -->
						<td>
							<form action="/clients/{{client.id}}" method="POST">
								<input type="hidden" name="_method" value="delete"/>
								<button class="button is-danger is-icon" type="submit">X</button>
							</form>
						</td>
					</tr>
				{% endfor %}

				<!-- Placeholder -->
				{% if clients.len() == 0 %}
					<tr>
						<td colspan="4">No clients configured</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>

	<!-- New client modal -->
	<div class="modal modal-target" id="new-client">
		<a class="modal-background" href="#"></a>

		<div class="modal-card">
			<form class="form" action="/clients" method="post"></form>
				<!-- Header -->
				<header class="modal-card-head">
					<!-- Title -->
					<div class="modal-card-title">New client</div>
					<!-- Close -->
					<a class="delete" href="#"></a>
				</header>

				<!-- Content -->
				<section class="modal-card-body">
					<div class="field">
						<label class="label">Application name</label>
						<input class="input" name="name" type="text" placeholder="Application name" minlength="3" required />
					</div>
				</section>

				<!-- Footer -->
				<footer class="modal-card-foot is-justify-content-flex-end">
					<button class="button is-primary" type="submit">Create</a>
					<a class="button is-danger is-light" href="#">Close</a>
				</footer>
			</form>
		</div>
	</div>
{% endblock content %}
